/* General styles */
/*一般的なスタイル*/
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

/* Complete Message - complete.php*/
/*会完全なメッセージ*/

/* Header styles */
/*ヘッダ*/
.complete-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #7b3e19;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 75px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.complete-header a {
    color: white;
    text-decoration: underline;
    font-size: 18px;
    font-weight: bold;
}

.complete-title {
    flex: 1;
    padding-left: 60px;
    margin: 0;
    font-size: 18px;
    color: white;
}

.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px auto;
}

.bottom-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Footer*/
/*フッター*/
footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: none;
    color: black;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    height: 25px;
    line-height: 25px;
}