/* General styles */
/*一般的なスタイル*/
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

/* Member Registration - membership-registration.php*/
/*会員登録*/

/* Header styles */
/*ヘッダ*/
.membership-registration-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #7b3e19;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 75px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.membership-registration-header a {
    color: white;
    text-decoration: underline;
    font-size: 18px;
    font-weight: bold;
}

.membership-registration-title {
    flex: 1;
    padding-left: 60px;
    margin: 0;
    font-size: 18px;
    color: white;
}

/* Main content styles */
main {
    margin-top: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.reg-success-container {
    border: 1px solid black;
    background-color: #f9f9f9;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 300px;
    text-align: left; /* Ensures paragraphs are left-aligned */
}

.member-reg {
    font-style: bold;
}

.warning {
    color: darkred;
}

.reg-success-container p {
    margin: 10px 0;
}

/* Form styles */
.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Terms textarea */
textarea#terms {
    width: 90%;
    height: 200px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

/* Checkbox */
.form-group-checkbox {
    display: inline;
}

.checkbox {
    text-align: left;
}

.checkbox input[type="checkbox"] {
    margin-right: 5px;
}

/* Button styles */
/*ボタンスタイル*/
.success-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #7b3e19;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

/*Footer*/
/*フッター*/
footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: none;
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
}