/* General styles */
/*一般的なスタイル*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/* Register Phone Number and Email to User - register.php*/
/* ユーザーに電話番号とメールアドレスを登録する */

/*Header*/
/*ヘッダ*/
.register-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #7b3e19;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 75px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.register-header a {
    color: white;
    text-decoration: underline;
    font-size: 18px;
    font-weight: bold;
}

.register-title {
    flex: 1;
    padding-left: 60px;
    margin: 0;
    font-size: 18px;
    color: white;
}

/* Register container styles */
/*コンテナスタイルを登録する*/
.register-container {
    display: flex;
    flex-direction: column; /* Arrange elements in a column */
    align-items: center; /* Center items horizontally */
    padding: 15px;
    background-color: #f9f9f9; /* Light background color for contrast */
    border: 1px solid black;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    width: 90%;
    max-width: 360px; /* Restrict maximum width for better mobile appearance */
    margin: 100px auto; /* Center container horizontally */
}

/* Paragraph and label styles */
/*段落とラベルのスタイル*/
.register-info {
    margin: 10px 0; /* Spacing between paragraphs */
    text-align: left; /* Center text */
}

/*All Paragraphs*/
/*すべての段落*/
p {
    font-size: 15.5px;
}

/* Form styles */
/*フォームスタイル*/
#registrationForm {
    display: flex;
    flex-direction: column; /* Arrange form elements in a column */
    width: 100%; /* Make form take full width of container */
}

/* Input and button styles */
/*入力とボタンのスタイル*/
input[type="tel"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px; /* Spacing between inputs */
    border: 1px solid #ccc;
    border-radius: 5px; /* Rounded corners for inputs */
}

/*Button*/
/*ボタン*/
button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #7b3e19; /* Primary color for button */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners for button */
    cursor: pointer;
    margin-top: 10px; /* Spacing above button */
}

button:hover {
    background-color: #b28b84;
}

/*Footer*/
/*フッター*/
footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: none;
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
}